header {
  background-color: #562b81;
}

.codeJournal {
  color: white;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.75px;
  font-size: 1.3rem;
}

.inputTitle,
.pageTitle {
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.75px;
}

#title,
#url,
#notes {
  border: 2px solid rgb(194, 194, 194);
  border-radius: 5px;
}

#notes {
  resize: none;
}

#title:focus,
#url:focus,
#notes:focus {
  outline: none;
  border-color: #562b81;
}

body {
  background-color: rgb(240, 240, 240);
}

img {
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
}

#saveButton {
  background-color: #562b81;
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid #562b81;
  border-radius: 5px;
  align-self: flex-end;
}

#saveButton:focus {
  outline: none;
}

.column-full {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #title,
  #url,
  #notes {
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
  }
}

ul {
  list-style-type: none;
}

.title-h2 {
  font-family: 'Nunito Sans', sans-serif;
}

.notes-p {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6rem;
}

.entries-link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  text-decoration: none;
}

.newEntry {
  background-color: #562b81;
  color: white;
  border: 1px solid #562b81;
  height: 2rem;
  width: 4.25rem;
  padding-top: 0.25rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25rem;
  font-family: 'Open Sans', sans-serif;
}

.fas.fa-pen {
  color: #562b81;
}

.delete {
  color: red;
  position: relative;
  bottom: 1.5rem;
}

.delete.clicked {
  opacity: 0.5;
}

.modalContainer {
  border: 1px solid black;
  text-align: center;
  height: 8rem;
  width: 75%;
  position: fixed;
  right: 15%;
  top: 50%;
  background-color: white;
  border-radius: 0.25rem;
}

.cancelButton {
  float: left;
  margin-left: 1.5rem;
  background-color: rgb(177, 177, 177);
  padding: 0.35rem 1rem;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 0.25rem;
  margin-top: 1.25rem;
  font-size: 1rem;
}

.confirmButton {
  float: right;
  margin-right: 1.5rem;
  background-color: red;
  padding: 0.35rem 0.75rem;
  border: 1px solid red;
  border-radius: 0.25rem;
  color: white;
  margin-top: 1.25rem;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .modalContainer {
    width: 25rem;
    top: 50%;
    left: 50%;
    margin-top: -3.5rem;
    margin-left: -12.5rem;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
